In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils
sorted(glob('../data/*'))

['../data/101_test',
 '../data/101_train',
 '../data/102-1_test',
 '../data/102-1_test_filtered',
 '../data/102-1_train',
 '../data/102-1_train_filtered',
 '../data/102-2_test',
 '../data/102-2_test_filtered',
 '../data/102-2_train',
 '../data/102-2_train_filtered',
 '../data/102-3_CHANNEL_TYPE_test',
 '../data/102-3_CHANNEL_TYPE_test_filtered',
 '../data/102-3_CHANNEL_TYPE_train',
 '../data/102-3_CHANNEL_TYPE_train_filtered',
 '../data/102-3_CODE_REJECT_REASON_test',
 '../data/102-3_CODE_REJECT_REASON_test_filtered',
 '../data/102-3_CODE_REJECT_REASON_train',
 '../data/102-3_CODE_REJECT_REASON_train_filtered',
 '../data/102-3_NAME_CASH_LOAN_PURPOSE_test',
 '../data/102-3_NAME_CASH_LOAN_PURPOSE_test_filtered',
 '../data/102-3_NAME_CASH_LOAN_PURPOSE_train',
 '../data/102-3_NAME_CASH_LOAN_PURPOSE_train_filtered',
 '../data/102-3_NAME_CLIENT_TYPE_test',
 '../data/102-3_NAME_CLIENT_TYPE_test_filtered',
 '../data/102-3_NAME_CLIENT_TYPE_train',
 '../data/102-3_NAME_CLIENT_TYPE_train_filtered',
 '../data/102-3_NAME_CONTRACT_STATUS_test',
 '../data/102-3_NAME_CONTRACT_STATUS_test_filtered',
 '../data/102-3_NAME_CONTRACT_STATUS_train',
 '../data/102-3_NAME_CONTRACT_STATUS_train_filtered',
 '../data/102-3_NAME_CONTRACT_TYPE_test',
 '../data/102-3_NAME_CONTRACT_TYPE_test_filtered',
 '../data/102-3_NAME_CONTRACT_TYPE_train',
 '../data/102-3_NAME_CONTRACT_TYPE_train_filtered',
 '../data/102-3_NAME_GOODS_CATEGORY_test',
 '../data/102-3_NAME_GOODS_CATEGORY_test_filtered',
 '../data/102-3_NAME_GOODS_CATEGORY_train',
 '../data/102-3_NAME_GOODS_CATEGORY_train_filtered',
 '../data/102-3_NAME_PAYMENT_TYPE_test',
 '../data/102-3_NAME_PAYMENT_TYPE_test_filtered',
 '../data/102-3_NAME_PAYMENT_TYPE_train',
 '../data/102-3_NAME_PAYMENT_TYPE_train_filtered',
 '../data/102-3_NAME_PORTFOLIO_test',
 '../data/102-3_NAME_PORTFOLIO_test_filtered',
 '../data/102-3_NAME_PORTFOLIO_train',
 '../data/102-3_NAME_PORTFOLIO_train_filtered',
 '../data/102-3_NAME_PRODUCT_TYPE_test',
 '../data/102-3_NAME_PRODUCT_TYPE_test_filtered',
 '../data/102-3_NAME_PRODUCT_TYPE_train',
 '../data/102-3_NAME_PRODUCT_TYPE_train_filtered',
 '../data/102-3_NAME_SELLER_INDUSTRY_test',
 '../data/102-3_NAME_SELLER_INDUSTRY_test_filtered',
 '../data/102-3_NAME_SELLER_INDUSTRY_train',
 '../data/102-3_NAME_SELLER_INDUSTRY_train_filtered',
 '../data/102-3_NAME_TYPE_SUITE_test',
 '../data/102-3_NAME_TYPE_SUITE_test_filtered',
 '../data/102-3_NAME_TYPE_SUITE_train',
 '../data/102-3_NAME_TYPE_SUITE_train_filtered',
 '../data/102-3_NAME_YIELD_GROUP_test',
 '../data/102-3_NAME_YIELD_GROUP_test_filtered',
 '../data/102-3_NAME_YIELD_GROUP_train',
 '../data/102-3_NAME_YIELD_GROUP_train_filtered',
 '../data/102-3_PRODUCT_COMBINATION_test',
 '../data/102-3_PRODUCT_COMBINATION_test_filtered',
 '../data/102-3_PRODUCT_COMBINATION_train',
 '../data/102-3_PRODUCT_COMBINATION_train_filtered',
 '../data/102-3_SK_ID_PREV_test',
 '../data/102-3_SK_ID_PREV_test_filtered',
 '../data/102-3_SK_ID_PREV_train',
 '../data/102-3_SK_ID_PREV_train_filtered',
 '../data/102-3_WEEKDAY_APPR_PROCESS_START_test',
 '../data/102-3_WEEKDAY_APPR_PROCESS_START_test_filtered',
 '../data/102-3_WEEKDAY_APPR_PROCESS_START_train',
 '../data/102-3_WEEKDAY_APPR_PROCESS_START_train_filtered',
 '../data/103-1_test',
 '../data/103-1_test_filtered',
 '../data/103-1_train',
 '../data/103-1_train_filtered',
 '../data/103-2_test',
 '../data/103-2_test_filtered',
 '../data/103-2_train',
 '../data/103-2_train_filtered',
 '../data/103-3_test',
 '../data/103-3_test_filtered',
 '../data/103-3_train',
 '../data/103-3_train_filtered',
 '../data/104-1_test',
 '../data/104-1_test_filtered',
 '../data/104-1_train',
 '../data/104-1_train_filtered',
 '../data/104-2_test',
 '../data/104-2_test_filtered',
 '../data/104-2_train',
 '../data/104-2_train_filtered',
 '../data/104-3_test',
 '../data/104-3_test_filtered',
 '../data/104-3_train',
 '../data/104-3_train_filtered',
 '../data/105-1_test',
 '../data/105-1_test_filtered',
 '../data/105-1_train',
 '../data/105-1_train_filtered',
 '../data/105-2_test',
 '../data/105-2_test_filtered',
 '../data/105-2_train',
 '../data/105-2_train_filtered',
 '../data/106-1_test',
 '../data/106-1_test_filtered',
 '../data/106-1_train',
 '../data/106-1_train_filtered',
 '../data/106-2_test',
 '../data/106-2_test_filtered',
 '../data/106-2_train',
 '../data/106-2_train_filtered',
 '../data/106-3_test',
 '../data/106-3_test_filtered',
 '../data/106-3_train',
 '../data/106-3_train_filtered',
 '../data/107_test',
 '../data/107_test_filtered',
 '../data/107_train',
 '../data/107_train_filtered',
 '../data/108_CHANNEL_TYPE_test',
 '../data/108_CHANNEL_TYPE_test_filtered',
 '../data/108_CHANNEL_TYPE_train',
 '../data/108_CHANNEL_TYPE_train_filtered',
 '../data/108_CODE_REJECT_REASON_test',
 '../data/108_CODE_REJECT_REASON_test_filtered',
 '../data/108_CODE_REJECT_REASON_train',
 '../data/108_CODE_REJECT_REASON_train_filtered',
 '../data/108_NAME_CASH_LOAN_PURPOSE_test',
 '../data/108_NAME_CASH_LOAN_PURPOSE_test_filtered',
 '../data/108_NAME_CASH_LOAN_PURPOSE_train',
 '../data/108_NAME_CASH_LOAN_PURPOSE_train_filtered',
 '../data/108_NAME_CLIENT_TYPE_test',
 '../data/108_NAME_CLIENT_TYPE_test_filtered',
 '../data/108_NAME_CLIENT_TYPE_train',
 '../data/108_NAME_CLIENT_TYPE_train_filtered',
 '../data/108_NAME_CONTRACT_STATUS_test',
 '../data/108_NAME_CONTRACT_STATUS_test_filtered',
 '../data/108_NAME_CONTRACT_STATUS_train',
 '../data/108_NAME_CONTRACT_STATUS_train_filtered',
 '../data/108_NAME_CONTRACT_TYPE_test',
 '../data/108_NAME_CONTRACT_TYPE_test_filtered',
 '../data/108_NAME_CONTRACT_TYPE_train',
 '../data/108_NAME_CONTRACT_TYPE_train_filtered',
 '../data/108_NAME_GOODS_CATEGORY_test',
 '../data/108_NAME_GOODS_CATEGORY_test_filtered',
 '../data/108_NAME_GOODS_CATEGORY_train',
 '../data/108_NAME_GOODS_CATEGORY_train_filtered',
 '../data/108_NAME_PAYMENT_TYPE_test',
 '../data/108_NAME_PAYMENT_TYPE_test_filtered',
 '../data/108_NAME_PAYMENT_TYPE_train',
 '../data/108_NAME_PAYMENT_TYPE_train_filtered',
 '../data/108_NAME_PORTFOLIO_test',
 '../data/108_NAME_PORTFOLIO_test_filtered',
 '../data/108_NAME_PORTFOLIO_train',
 '../data/108_NAME_PORTFOLIO_train_filtered',
 '../data/108_NAME_PRODUCT_TYPE_test',
 '../data/108_NAME_PRODUCT_TYPE_test_filtered',
 '../data/108_NAME_PRODUCT_TYPE_train',
 '../data/108_NAME_PRODUCT_TYPE_train_filtered',
 '../data/108_NAME_SELLER_INDUSTRY_test',
 '../data/108_NAME_SELLER_INDUSTRY_test_filtered',
 '../data/108_NAME_SELLER_INDUSTRY_train',
 '../data/108_NAME_SELLER_INDUSTRY_train_filtered',
 '../data/108_NAME_TYPE_SUITE_test',
 '../data/108_NAME_TYPE_SUITE_test_filtered',
 '../data/108_NAME_TYPE_SUITE_train',
 '../data/108_NAME_TYPE_SUITE_train_filtered',
 '../data/108_NAME_YIELD_GROUP_test',
 '../data/108_NAME_YIELD_GROUP_test_filtered',
 '../data/108_NAME_YIELD_GROUP_train',
 '../data/108_NAME_YIELD_GROUP_train_filtered',
 '../data/108_PRODUCT_COMBINATION_test',
 '../data/108_PRODUCT_COMBINATION_test_filtered',
 '../data/108_PRODUCT_COMBINATION_train',
 '../data/108_PRODUCT_COMBINATION_train_filtered',
 '../data/108_WEEKDAY_APPR_PROCESS_START_test',
 '../data/108_WEEKDAY_APPR_PROCESS_START_test_filtered',
 '../data/108_WEEKDAY_APPR_PROCESS_START_train',
 '../data/108_WEEKDAY_APPR_PROCESS_START_train_filtered',
 '../data/109-1_test',
 '../data/109-1_test_filtered',
 '../data/109-1_train',
 '../data/109-1_train_filtered',
 '../data/109-2_test',
 '../data/109-2_test_filtered',
 '../data/109-2_train',
 '../data/109-2_train_filtered',
 '../data/110_test',
 '../data/110_test_filtered',
 '../data/110_train',
 '../data/110_train_filtered',
 '../data/201_test',
 '../data/201_train',
 '../data/202_test',
 '../data/202_train',
 '../data/301_test',
 '../data/301_train',
 '../data/POS_CASH_balance',
 '../data/bureau',
 '../data/bureau_balance',
 '../data/credit_card_balance',
 '../data/installments_payments',
 '../data/label',
 '../data/previous_application',
 '../data/sub.p',
 '../data/test',
 '../data/train']

In [2]:
df = utils.read_pickles('../data/bureau').sort_values(['SK_ID_CURR', 'DAYS_CREDIT'], ascending=[True, False])
df.head()

100%|██████████| 20/20 [00:02<00:00,  8.86it/s]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.0,373239.0,0.0,0.0,Consumer credit,-16,10822.5
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.0,110281.5,NaN,0.0,Consumer credit,-10,9364.5
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.0,113166.0,0.0,0.0,Consumer credit,-6,4630.5
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.0,0.0,0.0,0.0,Consumer credit,-155,0.0
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,0.0,0.0,Consumer credit,-155,0.0

In [3]:
EDA.df_info(df)

Shape: (1716428, 17)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt
SK_ID_CURR,int64,0,305811,100001.000,2.782149e+05,4.562550e+05,1.029386e+05,"[120860, 169704, 318065, 251643, 425396, 29580...","[116, 94, 78, 61, 60, 59, 58, 57, 56, 55]"
SK_ID_BUREAU,int64,0,1716428,5000000.000,5.924434e+06,6.843457e+06,5.322657e+05,"[5000822, 6547158, 6487797, 6481654, 6483703, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
CREDIT_ACTIVE,object,0,4,NaN,NaN,NaN,NaN,"['Closed', 'Active', 'Sold', 'Bad debt']","[1079273, 630607, 6527, 21]"
CREDIT_CURRENCY,object,0,4,NaN,NaN,NaN,NaN,"['currency 1', 'currency 2', 'currency 3', 'cu...","[1715020, 1224, 174, 10]"
DAYS_CREDIT,int64,0,2923,-2922.000,-1.142108e+03,0.000000e+00,7.951649e+02,"[-364, -336, -273, -357, -343, -315, -371, -36...","[1330, 1248, 1238, 1218, 1203, 1202, 1196, 119..."
CREDIT_DAY_OVERDUE,int64,0,942,0.000,8.181666e-01,2.792000e+03,3.654443e+01,"[0, 30, 60, 13, 8, 9, 7, 14, 17, 11]","[1712211, 311, 126, 103, 103, 93, 92, 91, 77, 75]"
DAYS_CREDIT_ENDDATE,float64,105553,14096,-42060.000,5.105174e+02,3.119900e+04,4.994220e+03,"[0.0, 3.0, -7.0, 1.0, -14.0, -10.0, 4.0, -2.0,...","[883, 845, 837, 830, 787, 782, 777, 772, 771, ..."
DAYS_ENDDATE_FACT,float64,633653,2917,-42023.000,-1.017437e+03,0.000000e+00,7.140106e+02,"[-329.0, -273.0, -301.0, -91.0, -84.0, -154.0,...","[811, 794, 791, 785, 783, 783, 782, 778, 778, ..."
AMT_CREDIT_MAX_OVERDUE,float64,1124488,68251,0.000,3.825418e+03,1.159872e+08,2.060316e+05,"[0.0, 1440.0, 225.0, 45.0, 4.5, 90.0, 4500.0, ...","[470650, 688, 405, 377, 315, 222, 220, 192, 19..."
CNT_CREDIT_PROLONG,int64,0,10,0.000,6.410406e-03,9.000000e+00,9.622391e-02,"[0, 1, 2, 3, 4, 5, 9, 6, 8, 7]","[1707314, 7620, 1222, 191, 54, 21, 2, 2, 1, 1]"
AMT_CREDIT_SUM,float64,13,236708,0.000,3.549946e+05,5.850000e+08,1.149811e+06,"[0.0, 225000.0, 135000.0, 450000.0, 90000.0, 1...","[66582, 57608, 50195, 37156, 36940, 28840, 265..."
AMT_CREDIT_SUM_DEBT,float64,257669,226537,-4705600.320,1.370851e+05,1.701000e+08,6.774011e+05,"[0.0, 4.5, -450.0, 135000.0, 90000.0, 45000.0,...","[1016434, 653, 543, 344, 320, 316, 307, 238, 2..."
AMT_CREDIT_SUM_LIMIT,float64,591780,51726,-586406.115,6.229515e+03,4.705600e+06,4.503203e+04,"[0.0, 135000.0, 4500.0, 45000.0, 90000.0, 1350...","[1050142, 2178, 1474, 1335, 974, 833, 766, 757..."
AMT_CREDIT_SUM_OVERDUE,float64,0,1616,0.000,3.791276e+01,3.756681e+06,5.937650e+03,"[0.0, 4.5, 9.0, 13.5, 18.0, 22.5, 45.0, 27.0, ...","[1712270, 301, 107, 81, 72, 60, 56, 52, 50, 48]"
CREDIT_TYPE,object,0,15,NaN,NaN,NaN,NaN,"['Consumer credit', 'Credit card', 'Car loan',...","[1251615, 402195, 27690, 18391, 12413, 1975, 1..."
DAYS_CREDIT_UPDATE,int64,0,2982,-41947.000,-5.937483e+02,3.720000e+02,7.207473e+02,"[-7, -8, -11, -15, -12, -10, -9, -13, -6, -14]","[18503, 18462, 16975, 16870, 16827, 16651, 165..."
AMT_ANNUITY,float64,1226791,40321,0.000,1.571276e+04,1.184534e+08,3.258269e+05,"[0.0, 4500.0, 13500.0, 22500.0, 9000.0, 18000....","[256915, 5182, 3147, 2502, 1725, 1605, 1593, 1..."

In [4]:
df.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [3]:
ids = df.SK_ID_CURR.unique()

In [4]:
tmp = df[df.SK_ID_CURR.isin(np.random.choice(ids, size=9))]
tmp

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
926882,130466,5120140,Closed,currency 1,-1365,0,-1180.0,-1180.0,0.00,0,74232.00,0.00,0.00,0.0,Consumer credit,-1180,NaN
926881,130466,5120139,Closed,currency 1,-1366,0,-1180.0,-1171.0,NaN,0,74232.00,0.00,0.00,0.0,Consumer credit,-952,0.0
209041,147788,6576270,Closed,currency 1,-2629,0,-330.0,-330.0,NaN,0,279000.00,0.00,NaN,0.0,Credit card,-329,0.0
209040,147788,6576269,Closed,currency 1,-2630,0,-578.0,-330.0,NaN,0,279000.00,0.00,0.00,0.0,Credit card,-327,0.0
1463654,160118,5368069,Active,currency 1,-180,0,916.0,NaN,0.00,0,504144.00,451840.50,0.00,0.0,Consumer credit,-30,NaN
1463652,160118,5368067,Active,currency 1,-421,0,1041.0,NaN,NaN,0,1026481.50,832644.00,0.00,0.0,Consumer credit,-22,NaN
1463651,160118,5368066,Active,currency 1,-657,0,1157.0,NaN,NaN,0,976500.00,715743.00,0.00,0.0,Consumer credit,-28,NaN
777643,160118,5368065,Closed,currency 1,-1009,0,89.0,-414.0,NaN,0,675000.00,0.00,0.00,0.0,Consumer credit,-407,NaN
1463653,160118,5368068,Closed,currency 1,-1198,0,-298.0,-657.0,0.00,0,553500.00,NaN,NaN,0.0,Consumer credit,-628,NaN
1007441,166060,5123253,Active,currency 1,-259,0,106.0,NaN,NaN,0,117000.00,71221.50,0.00,0.0,Consumer credit,-69,NaN
1007444,166060,5123256,Active,currency 1,-660,0,6645.0,NaN,NaN,0,5799600.00,5703903.00,0.00,0.0,Mortgage,-69,NaN
1007439,166060,5123250,Closed,currency 1,-714,0,-381.0,-355.0,NaN,0,265500.00,0.00,0.00,0.0,Credit card,-280,NaN
1007446,166060,5123259,Closed,currency 1,-849,0,-515.0,-515.0,0.00,0,69753.60,0.00,0.00,0.0,Consumer credit,-509,NaN
1007442,166060,5123254,Active,currency 1,-1033,0,63.0,NaN,NaN,0,450000.00,75870.00,0.00,0.0,Consumer credit,-69,NaN
1007443,166060,5123255,Active,currency 1,-1318,0,509.0,NaN,NaN,0,989100.00,429547.50,0.00,0.0,Consumer credit,-69,NaN
1007440,166060,5123252,Closed,currency 1,-1744,0,-648.0,-1313.0,NaN,0,337500.00,0.00,0.00,0.0,Consumer credit,-1307,NaN
1348734,166060,5123251,Closed,currency 1,-1744,0,-648.0,-1313.0,NaN,0,337500.00,0.00,0.00,0.0,Consumer credit,-491,NaN
1348735,166060,5123258,Closed,currency 1,-2290,0,-1985.0,-1985.0,0.00,0,65002.50,0.00,0.00,0.0,Consumer credit,-1985,NaN
1007438,166060,5123249,Closed,currency 1,-2405,0,-2221.0,-2219.0,NaN,0,18315.00,0.00,NaN,0.0,Consumer credit,-483,NaN
1007445,166060,5123257,Closed,currency 1,-2628,0,1025.0,-778.0,0.00,1,265500.00,0.00,0.00,0.0,Credit card,-747,NaN
449184,197224,5946640,Closed,currency 1,-954,0,-589.0,-589.0,0.00,0,165330.00,0.00,0.00,0.0,Consumer credit,-585,NaN
449183,197224,5946639,Closed,currency 1,-1098,0,6207.0,-580.0,NaN,0,6075000.00,0.00,0.00,0.0,Mortgage,-296,0.0
1592409,225505,5592243,Closed,currency 1,-564,0,12906.0,-402.0,NaN,0,1350000.00,0.00,0.00,0.0,Credit card,-153,NaN
1115521,300565,6124741,Closed,currency 1,-185,0,-94.0,-127.0,NaN,0,54450.00,0.00,0.00,0.0,Consumer credit,-27,0.0
1115524,300565,6124744,Active,currency 1,-210,0,NaN,NaN,0.00,0,114090.93,0.00,114090.93,0.0,Credit card,-22,NaN
1115525,300565,6124745,Active,currency 1,-340,0,1487.0,NaN,3186.27,0,1471500.00,297727.47,0.00,0.0,Consumer credit,-31,NaN
1115523,300565,6124743,Active,currency 1,-455,0,-273.0,NaN,NaN,0,143235.00,73507.50,NaN,0.0,Consumer credit,-361,20155.5
1115522,300565,6124742,Closed,currency 1,-1352,0,-256.0,-340.0,NaN,0,450000.00,0.00,NaN,0.0,Consumer credit,-340,20155.5
1199015,344005,5303285,Active,currency 1,-2622,0,-1524.0,NaN,0.00,0,67500.00,0.00,0.00,0.0,Credit card,-673,NaN
1199014,344005,5303284,Closed,currency 1,-2726,0,-2391.0,-2417.0,8640.00,0,77508.00,0.00,0.00,0.0,Consumer credit,-2390,NaN
1375964,356535,5385939,Active,currency 1,-367,0,1080.0,NaN,NaN,0,135000.00,0.00,0.00,0.0,Credit card,-15,NaN

In [5]:
tmp.to_csv('bure_sample.csv', index=False)