In [2]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
from matplotlib import pyplot as plt
import EDA
import utils
#sorted(glob('../data/*'))

In [ ]:
df = utils.read_pickles('../data/bureau_balance').sort_values(['SK_ID_BUREAU', 'MONTHS_BALANCE'], ascending=[True, False])
df.head()

100%|██████████| 20/20 [00:06<00:00,  3.00it/s]

In [ ]:
EDA.df_info(df)

In [ ]:
df.MONTHS_BALANCE

In [3]:
ids = df.SK_ID_BUREAU.unique()

In [5]:
tmp = df[df.SK_ID_BUREAU.isin(np.random.choice(ids, size=9))]
tmp

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
1404803        5229582               0      X
1404804        5229582              -1      X
1404805        5229582              -2      X
1404806        5229582              -3      X
1404807        5229582              -4      0
1404808        5229582              -5      0
1404809        5229582              -6      X
1404810        5229582              -7      0
1404811        5229582              -8      0
1404812        5229582              -9      X
1404813        5229582             -10      0
1404814        5229582             -11      X
1404815        5229582             -12      0
1404816        5229582             -13      0
1404817        5229582             -14      X
1404818        5229582             -15      0
1404819        5229582             -16      X
1404820        5229582             -17      X
1404821        5229582             -18      0
1404822        5229582             -19      0
1404823        5229582             -20      0
1404824        5229582             -21      X
1404825        5229582             -22      0
1404826        5229582             -23      0
1404827        5229582             -24      0
1404828        5229582             -25      X
1404829        5229582             -26      X
1404830        5229582             -27      X
1404831        5229582             -28      X
1404832        5229582             -29      X
1404833        5229582             -30      X
13750852       5819222               0      0
13750853       5819222              -1      0
13750854       5819222              -2      0
13750855       5819222              -3      0
13750856       5819222              -4      0
13750857       5819222              -5      0
13750858       5819222              -6      0
13750859       5819222              -7      0
13750860       5819222              -8      0
13750861       5819222              -9      0
13750862       5819222             -10      0
13750863       5819222             -11      0
2710643        5837388               0      C
2710644        5837388              -1      C
2710645        5837388              -2      C
2710646        5837388              -3      C
2710647        5837388              -4      C
2710648        5837388              -5      C
...                ...             ...    ...
9648303        6406648             -42      0
9648304        6406648             -43      0
9648305        6406648             -44      0
9648306        6406648             -45      0
9648307        6406648             -46      0
9648308        6406648             -47      0
9648309        6406648             -48      0
9648310        6406648             -49      0
9648311        6406648             -50      0
9648312        6406648             -51      0
9648313        6406648             -52      X
24322954       6732009               0      0
24322955       6732009              -1      0
24322956       6732009              -2      0
24322957       6732009              -3      0
24322958       6732009              -4      0
24322959       6732009              -5      0
24322960       6732009              -6      0
24322961       6732009              -7      0
24322962       6732009              -8      0
24322963       6732009              -9      0
14489833       6765503               0      0
14489834       6765503              -1      0
14489835       6765503              -2      0
14489836       6765503              -3      0
14489837       6765503              -4      0
14489838       6765503              -5      0
14489839       6765503              -6      0
14489840       6765503              -7      0
14489841       6765503              -8      0
14489842       6765503              -9      0
14489843       6765503             -10      0
14489844       6765503             -11      0
14489845       6765503             -12      0
14489846       6765503             -13      0
14489847       6765503             -14      0
14489848       6765503             -15      0
14489849       6765503             -16      0
14489850       6765503             -17      0
14489851       6765503             -18      0
14489852       6765503             -19      0
14489853       6765503             -20      0
14489854       6765503             -21      0
14489855       6765503             -22      0
14489856       6765503             -23      0
14489857       6765503             -24      0
14489858       6765503             -25      0
14489859       6765503             -26      0
14489860       6765503             -27      0

[214 rows x 3 columns]

In [6]:
tmp.to_csv('sample_bb.csv', index=False)